name: Convert Yolo Detect Models

# 触发工作流的事件
on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  pt2onnx:
    strategy:
      matrix:
        runs-on: [ubuntu-22.04]
    runs-on: ${{ matrix.runs-on }}
    container:
      image: ultralytics/ultralytics:8.3.89-cpu
      options: --privileged

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 1000
        fetch-tags: true

    - name: Run build script
      run: |
        apt-get update && apt install -y --no-install-recommends wget
        pip install onnxsim
        cd yolo
        mkdir -pv onnx
        cd onnx
        BASE_URL="https://raw.githubusercontent.com/Corenell/https---github.com-Corenell-RabbitFarmManagementSystem/main/mindyolo"
        echo "正在下载模型..."
        wget "${BASE_URL}/best.pt" -O best.pt
        wget "${BASE_URL}/best0.pt" -O best0.pt
        wget "${BASE_URL}/best1.pt" -O best1.pt
        for model in best best0 best1; do
            echo "正在转换 ${model}.pt 到 ONNX..."
            python ../export_det_v11.pyc -w "${model}.pt" --sim
        done

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: onnx_artifacts
        path: yolo/onnx/*.onnx

  onnx2om:
    needs: [pt2onnx]
    strategy:
      matrix:
        runs-on: [ubuntu-22.04]
    runs-on: ${{ matrix.runs-on }}
    container:
      image: kaylor/atc
      options: --privileged

    steps:
    - name: Download artifacts from pt2onnx
      uses: actions/download-artifact@v4
      with:
        name: onnx_artifacts
        path: onnx_artifacts

    - name: Run build script
      shell: bash
      run: |
        SRC_PATH=$(pwd)
        mkdir -pv om
        cp -vr ${SRC_PATH}/onnx_artifacts/*.onnx ./om/
        source /usr/local/Ascend/ascend-toolkit/set_env.sh
        export LD_LIBRARY_PATH=/usr/local/Ascend/ascend-toolkit/latest/x86_64-linux/devlib/:$LD_LIBRARY_PATH
        cd om
        for file in *.onnx; do
            filename=$(basename "$file" .onnx)
            
            echo "正在使用 ATC 转换: $filename ..."
            atc --model="$file" --framework=5 --output="$filename" --soc_version=Ascend310B4
          done

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: om_artifacts
        path: om/*.om